---
import { getCollection, getEntry, render } from "astro:content";
import { ChevronLeft } from "@lucide/svelte";
import type { TransitionDirectionalAnimations } from "astro";
import readingTime from "reading-time";
import BaseLayout from "@/layouts/BaseLayout.astro";
import LogLayout from "@/layouts/LogLayout.astro";
import Button from "$lib/components/ui/button/button.svelte";

export async function getStaticPaths() {
    const logs = await getCollection("logs");
    return logs.map((entry) => ({
        params: { slug: entry.data.slug },
    }));
}

const { slug } = Astro.params;
if (!slug) {
    throw new Error("Missing slug");
}

const log = await getEntry("logs", slug);
if (!log) {
    throw new Error(`Log not found for slug: ${slug}`);
}
const logData = log.data;

const { Content, headings } = await render(log);

const author = await getEntry(logData.author.collection, logData.author.id);
if (!author) {
    throw new Error(`Author not found for slug: ${logData.author.id}`);
}
const authorData = author.data;

const stats = readingTime(log.body ?? "");
---

<BaseLayout>
    <div class="prose-container">
        <Button asChild class="py-0" variant="ghost" href="/logs"
            ><div class="inline-flex"><ChevronLeft />Back</div></Button
        >
        <div class="py-8">
            <LogLayout log={log} author={author} stats={stats}>
                <Content />
            </LogLayout>
        </div>
    </div>
</BaseLayout>
