---
import { getEntry, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import LogLayout from "@/layouts/LogLayout.astro";
import readingTime from "reading-time";

const { slug } = Astro.params;
if (!slug) {
    throw new Error("Missing slug");
}

const log = await getEntry("logs", slug);
if (!log) {
    throw new Error(`Log not found for slug: ${slug}`);
}
const logData = log.data;

const { Content, headings } = await render(log);

const author = await getEntry(logData.author.collection, logData.author.id);
if (!author) {
    throw new Error(`Author not found for slug: ${logData.author.id}`);
}
const authorData = author.data;

const stats = readingTime(log.body ?? "");
---

<BaseLayout>
    <div class="py-8">
        <LogLayout log={log} author={author} stats={stats}>
            <Content />
        </LogLayout>
    </div>
</BaseLayout>
