---
import { Image } from "astro:assets";
import AstroSVG from "@/assets/astro.svg";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/ui/ProjectCard.astro";
import BackAnchor from "@/components/ui/BackAnchor.astro";

const projects = await getCollection("projects");

const featuredProjects = projects.filter((p) => p.data.featured);
const regularProjects = projects.filter((p) => !p.data.featured);
---

<BaseLayout>
    <div class="flex flex-col items-center px-56 py-12">
        <BackAnchor href="/" class="absolute self-stretch">Home</BackAnchor>
        <h1>Projects</h1>
        <div class="grid grid-cols-3 gap-10 w-full py-8">
            {
                featuredProjects.map(({ data }) => (
                    // <div class="border-4 rounded-lg w-full h-full min-h-128">
                    //     <Image
                    //         src={AstroSVG}
                    //         alt="Astro Logo"
                    //         class="w-full h-full object-contain m-0"
                    //     />
                    // </div>

                    <ProjectCard
                        class="project-card border-primary crescendo-shadow shadow-primary"
                        title={data.title}
                        description={data.description}
                        projectLink={data.projectLink}
                        images={data.images}
                        languages={data.languages}
                        blogTag={data.blogTag}
                        githubLink={data.githubLink}
                    />
                ))
            }
        </div>
        <hr class="self-stretch" />
        <div class="grid grid-cols-3 gap-10 w-full py-8 items-stretch">
            {
                regularProjects.map(({ data }) => (
                    // <div class="border-4 rounded-lg w-full h-full min-h-128">
                    //     <Image
                    //         src={AstroSVG}
                    //         alt="Astro Logo"
                    //         class="w-full h-full object-contain m-0"
                    //     />
                    // </div>

                    <ProjectCard
                        class="project-card"
                        title={data.title}
                        description={data.description}
                        projectLink={data.projectLink}
                        images={data.images}
                        languages={data.languages}
                        blogTag={data.blogTag}
                        githubLink={data.githubLink}
                    />
                ))
            }
        </div>
    </div>
</BaseLayout>
