---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro"; // type for imported/optimized images
import AstroSVG from "@/assets/astro.svg";
import { type LanguageIconTag, languageIcons } from "$lib/languageIcons";

export interface Props {
    title: string;
    description?: string;
    images?: Array<{ image: ImageMetadata | string; alt?: string }>; // allow local imports or remote URLs
    languages?: LanguageIconTag[];
    blogTag?: string;
    projectLink?: string | URL;
    githubLink?: string | URL;
    [key: string]: unknown;
}

const {
    title,
    description,
    images,
    languages,
    blogTag,
    projectLink,
    githubLink,
    ...rest
} = Astro.props;

const first = images?.[0]?.image as string | ImageMetadata | undefined;

const src = (typeof first === "string" ? first : first?.src) ?? AstroSVG.src;

export function toSrc(img?: string | ImageMetadata) {
    return typeof img === "string" ? img : img?.src;
}
---

<div {...rest}>
    <div class="text-center h-full">
        <div class="items-center justify-center h-3/4 border-b">
            <img
                src={src}
                alt={(images &&
                    images[0] &&
                    (images[0].alt || `A picture of ${title}`)) ||
                    "Placeholder Image"}
                class="w-full h-full object-contain"
            />
        </div>
        <h2>{title}</h2>
        {description && <p class="text-muted-foreground">{description}</p>}
        {
            languages && (
                <div class="flex gap-2 justify-center">
                    {languages.map((language) => {
                        const Icon = languageIcons[language].icon;
                        return <Icon class="text-3xl" />;
                    })}
                    {githubLink &&
                        (() => {
                            const Icon = languageIcons.github.icon;
                            return (
                                <a href={githubLink} class="icon-link">
                                    <Icon class="text-3xl" />
                                </a>
                            );
                        })}
                </div>
            )
        }
    </div>
</div>
